<div class="grid-container">
    <mat-card class="tracking-card">
        <mat-card-header>
          
          <mat-card-title>All tracking</mat-card-title>
          <mat-card-subtitle>tracking searching</mat-card-subtitle>
        </mat-card-header>
       
        <mat-card-content>
       


          <div class="mat-elevation-z8">            
            <p style="margin-left: 10px; margin: 20px;">
              <mat-form-field appearance="outline">
                <mat-label>Searching</mat-label>
                <input matInput placeholder="Type keyword" #keyword (input)="inputKeyword(keyword.value)">
                <mat-icon matSuffix>search</mat-icon>
                <mat-hint>search in observation field</mat-hint>
              </mat-form-field>
            </p>
          <table mat-table [dataSource]="trakings" class="mat-elevation-z8 demo-table">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
            
                  <!-- Position Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> ID. </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="receptionDate">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.receptionDate | date:'M/d/yy, h:mm a'}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="deliveryDate">
              <th mat-header-cell *matHeaderCellDef> delivery Date </th>
              <td mat-cell *matCellDef="let element"> {{element.deliveryDate | date:'M/d/yy, h:mm a'}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="observation">
              <th mat-header-cell *matHeaderCellDef> observation </th>
              <td mat-cell *matCellDef="let element"> {{element.observation}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="codebarre">
              <th mat-header-cell *matHeaderCellDef style="font-size:1.2em;"> Shipment </th>
              <td mat-cell *matCellDef="let element"> <button mat-raised-button (click)="showDialog(element.id,'SHIPMENT')"> <mat-icon>airport_shuttle</mat-icon></button></td>
            </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="agency">
            <th mat-header-cell *matHeaderCellDef style="font-size:1.2em;"> agency </th>
            <td mat-cell *matCellDef="let element"> <button mat-raised-button (click)="showDialog(element.id,'AGENCY')"> <mat-icon> streetview</mat-icon></button></td>
          </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [length]="totalElements"
          [pageSize]="size"
          [pageSizeOptions]="pageSizeOptions"
          (page)="pageChangeData($event)"
          aria-label="Select page">
         </mat-paginator>

        </div>
          


        </mat-card-content>
        <mat-card-actions>
          <button mat-button></button>
          <button mat-button></button>
        </mat-card-actions>
    </mat-card>
      
  </div>
