<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar> <mat-icon>nfc</mat-icon> TRC</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href=""><mat-icon>dashboard</mat-icon> Dashboard</a>
      <a mat-list-item href="/tracking"><mat-icon>track_changes</mat-icon> Tracking</a>
      <a mat-list-item href="/shipment"><mat-icon>local_shipping</mat-icon> Shipment </a>
      <a mat-list-item href="#"><mat-icon>search</mat-icon> Searching</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Tracabilty tracking</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
   
  </mat-sidenav-content>
</mat-sidenav-container>
